*{
    margin: 0;
    padding: 0;
}

.EntireBody{
    background: rgb(15, 15, 22);
    height: 100vh;
    width: 100vw;
}

.EntireBody > .NavBar{
    width: 100vw;
    height: 10%;
    background: rgb(29, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.EntireBody > .NavBar > .NavBarContainer{
    display: flex;
color: white;
width: 100vw;
height: 10%;
display: flex;
align-items: center;
justify-content: space-around;
}

.EntireBody > .NavBar > .NavBarContainer > .a{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 57, 57);
    width: 100px;
    height: 25px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px ;
}

.EntireBody > .Body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgb(15, 15, 22);
    height: 50vh;
    width: 99vw;
    margin-top: 0%;
}

.EntireBody > .Body > .b{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    height: 100%;
    /* background: rgb(15, 15, 22); */
    text-align: justify;
    color: white;
}
.b > p{
    height: 70%;
}
.b > img{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.EntireBody > .SecondBody{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(27, 24, 24);
    width: 100vw;
    height: 20%;
    margin-top: 15%;

}
.EntireBody > .SecondBody > .c{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 70%;
    color: whitesmoke;
    background: rgb(37, 37, 30);
    box-shadow:2px 5px 2px rgb(245, 119, 30);
}
.AnotherView{
    height: 90vh;
}
.EntireBody > .AnotherView{
    height: 90vh;
    flex-wrap: wrap;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(15, 15, 22);
}

.EntireBody > .AnotherView > .SecondBox{
    height: 90vh;
    margin-bottom: 20%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: whitesmoke;
}
.EntireBody > .AnotherView > .SecondBox > .d{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 90%;
    color: white;
    background: #000;
}
.d > img{
    height: 100%;
    width: 100%;
}

.AntherBody{
    height: 40vh;
    width: 100vw;
}

.AntherBody > .ThirdBox{
    background: rgb(15, 15, 22);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AntherBody > .ThirdBox > .e{
    background: rgb(63, 34, 34);
    height: 100%;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 35px rgb(78, 78, 131);
}







/* PORTFOLIO PAGE  */
.Portfolio{
    width: 50vw;
    background: #000;
}
.EntireBody > .picture{
    width: 100vw;
    height: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EntireBody > .f{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50%;
    width: 40%;
}



@media (max-width:413px) {
    .EntireBody{
        background: white;
        height: 200vh;
        width: 100vw;
        
    }
    .EntireBody > .NavBar{
        display: flex;
        align-items: center;
        justify-content: center;
 height: 10%;
 width: 100vw;
 justify-content: space-around;
 font-size: 12px; 

    }
    .EntireBody > .NavBar > .NavBarContainer{
      width: 97%;
      height: 90%;
      justify-content: space-around;
      gap: 10px; 
      display: flex;
      align-items: center; 
      flex-direction: column;
    }
    .EntireBody > .NavBar > .NavBarContainer > .a{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(63, 57, 57);
        width: 80px;
        height: 30px;
        border-radius: 30px;
        box-shadow: 2px 2px 3px ;
    }

    .EntireBody > .NavBar > .HandBurgerOpen{
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 80%;
        height: 70px;
        width: 65px;
    }
    .EntireBody > .NavBar > .HandBurgerOpen > .one{
        background: #fff;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 6px;
        width: 50%;
    }
    .EntireBody > .NavBar >.NavBarContainer > .HandBurgerClose{
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 80%;
        height: 70px;
        width: 65px;
    } 
    .EntireBody >.NavBar > .NavBarContainer > .HandBurgerClose > .one{
        background: #fff;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 6px;
        width: 50%;
        transform: rotate(30deg);
    }
    .EntireBody >.NavBar > .NavBarContainer > .HandBurgerClose > .two{
        background: #fff;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 6px;
        width: 50%;
        transform: rotate(-30deg);
    }

    .b img{
        width: 100vw;
    }

    .EntireBody > .Body{
        height: 120vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: white;
    }

    .EntireBody > .Body > .b{
        flex-direction: column;
        width: 95vw;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: black;
    }
    .EntireBody > .SecondBody{
        height: 70vh;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .EntireBody > .SecondBody > .c{
        height: 30%;
        width: 70%;
    }

    .EntireBody >.AnotherView {
        height: 15%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .AnotherView > .SecondBox >{
        display: flex;
        margin-bottom: 98%;
        height: 10%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    

    .AntherBody{
        display: flex;
        flex-direction: column;
        height: 20vh;
        width: 100vw;
        margin-top: -10%;
    }

    .AntherBody > .ThirdBox > .e{
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        text-align: center;
    }
}